<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Funee</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="/css/color.css">
        <link rel="stylesheet" href="/css/style.css"> -->
        <style>
            .border-circle{border-radius:50%}.float-left{float:left;border-radius:50%}.float-right{float:right;border-radius:50%}.text-d{color:#28262c}.text-y{color:#f7b733}.text-o{color:#fc4a1a}.text-w{color:#f9f5ff}.text-lw{color:#dfdce3}.text-b{color:#4abdac}.bg-d{background-color:#28262c}.bg-y{background-color:#f7b733}.bg-o{background-color:#fc4a1a}.bg-w{background-color:#f9f5ff}.bg-lw{background-color:#dfdce3}.bg-b{background-color:#4abdac}.border-d{border-color:#28262c}.border-y{border-color:#f7b733}.border-o{border:#fc4a1a 2px solid}.border-w{border-color:#f9f5ff}.border-lw{border-color:#dfdce3}.border-b{border:solid 2px #4abdac}.hv-d:hover{color:#28262c}.hv-y:hover{color:#f7b733}.hv-o:hover{color:#fc4a1a}.hv-w:hover{color:#f9f5ff}.hv-b:hover{color:#4abdac}.hv.lw:hover{color:#dfdce3}.bg-grad-o{background-image:linear-gradient(to bottom,#fc4a1a,#fd5528,#fe5f34,#ff6840,#ff714b)}.bg-grad-b{background-image:linear-gradient(to bottom,#4abdac,#42c5b1,#37ccb5,#29d4ba,#12dcbe)}.text-time-r{float:right;color:#aaa}.text-time-l{float:left;color:#aaa}.text-time{color:#aaa;}
        </style>
    </head>
    <body>