<nav class="navbar navbar-expand-lg bg-b text-w sticky-top">
    <a class="navbar-brand text-w hv-w" href="#">
        <div class="row">
            <div class="col-3"><i class="fas fa-compass text-w h2 ml-3 "></i></div>
            <div class="col-9"><span class="ml-2 h4 hv-w">F u n e e</span><br>   </div>
        </div>
    </a>
    <div class="toggle-buttons ml-auto d-lg-none text-w">
        <a href="/user/mylinks" id="n-link">
            <button class="btn bg-o text-w mr-2 mr-2 hv-w">My Links</button>
        </a>
    </div>
    <%if(user){%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="mt-1 mx-auto fas fa-bars text-w border-w"></i></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active mr-5">
            <a class="nav-link text-w hv-w" href="/user/home">Home</a>
          </li>
          <li class="nav-item active mr-5">
            <a class="nav-link text-w hv-w" href="/user/profile">Profile</a>
          </li>
          <li class="d-none d-lg-block">
            <a href="/user/mylinks" id="n-link">
                <button class="btn bg-o text-w mr-5 hv-w mr-2">My Links</button>
            </a>
          </li> 
          <li class="nav-item mr-5">
            <a class="nav-link text-w" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    <%}%>
  </nav>