<nav class="navbar navbar-expand-lg bg-b text-w sticky-top">
    <a class="navbar-brand text-w hv-w" href="#">
        <div class="row">
            <div class="col-3"><i class="fas fa-compass text-w h2 ml-3 "></i></div>
            <div class="col-9"><span class="ml-2 h4 hv-w">F u n e e</span><br>   </div>
        </div>
    </a>
    <%if(user){%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="mt-1 mx-auto fas fa-bars text-w border-w"></i><%if(user.MsgNotification){%><span class="text-w ">*</span><%}%>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active mr-5">
            <a class="nav-link text-w hv-w" href="/user/home">Home</a>
          </li>
          <li class="nav-item active mr-5">
            <a class="nav-link text-w hv-w" href="/user/msg/list">Messages 
              <%if(user.MsgNotification){%>
                *
              <%}%>
              </a>
          </li>
          <li class="nav-item active mr-5">
            <a class="nav-link text-w hv-w" href="/user/mylinks">My Links</a>
          </li>
          <li class="nav-item active mr-5">
            <a class="nav-link text-w hv-w" href="/user/profile">Profile</a>
          </li>
          <%if(user.claim == 'admin'){%>
            <li>
              <a class="nav-link text-w hv-w" href="/user/admin/topics">Admin Topics</a>
            </li>
            <li>
              <a class="nav-link text-w hv-w" href="/user/admin/msg">Admin Messages</a>
            </li>
          <%}%>
          <li class="nav-item mr-5">
            <a class="nav-link text-w" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    <%}%>
  </nav>