<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container">
    <div class="content-box px-3 py-4">
        <div class="row">
            <div class="col-12 h3 text-o">
                Confessions
            </div>
        </div>
        <!-- ROW 3  -->
        <div class="row">
            <div class="col-12">
                <div class="card bg-w px-2 text-w">
                    <div class="row">
                        <div class="card col-6 bg-b">
                            <div class="bg-b">
                                <h4 class="text-center text-w">Top</h4>
                            </div>
                        </div>
                        <div class="card col-6 ">
                            <div>
                                <h4 class="text-center text-b">Recent</h4>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class=" px-2 py-2">
                    <div class="row">
                        <div class="col-4">
                            <div class="topic text-b"><p class="mt-2"><strong>#LifeAtKec</strong></p> </div>
                        </div>
                        <div class="col-4">
                           <a href="">
                               <button class="btn bg-b text-w hv-w">View Room</button>
                           </a>
                        </div>
                        <div class="col-4">
                            <p class="text-b mt-2">233 replies</p>
                        </div>
                    </div>      
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class=" px-2 py-2">
                    <div class="row">
                        <div class="col-4">
                            <div class="topic text-b"><p class="mt-2"><strong>#toDearExtroverts</strong></p> </div>
                        </div>
                        <div class="col-4">
                           <a href="">
                               <button class="btn bg-b text-w hv-w">View Room</button>
                           </a>
                        </div>
                        <div class="col-4">
                            <p class="text-b mt-2">122 replies</p>
                        </div>
                    </div>      
                </div>
            </div>

        </div>
        <!-- ROW 3 / -->
    </div>
</div>

<%- include("partials/footer") %>