<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Funee</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="/css/color.css"> -->
        <style media="screen">
            body { background: #4ABDAC; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
            #message { background: white; max-width: 600px; margin: 50px auto 16px; padding: 32px 24px 16px; border-radius: 5px; }
            @media (max-width: 600px) {
              body, #message { margin-top: 0;margin-bottom: 0; background: white; box-shadow: none; height: 100%;}
              body { border-top: 16px solid #4ABDAC }
            }
          </style>
          <style>
            .border-circle{border-radius:50%}.float-left{float:left;border-radius:50%}.float-right{float:right;border-radius:50%}.text-d{color:#28262c}.text-y{color:#f7b733}.text-o{color:#fc4a1a}.text-w{color:#f9f5ff}.text-lw{color:#dfdce3}.text-b{color:#4abdac}.bg-d{background-color:#28262c}.bg-y{background-color:#f7b733}.bg-o{background-color:#fc4a1a}.bg-w{background-color:#f9f5ff}.bg-lw{background-color:#dfdce3}.bg-b{background-color:#4abdac}.border-d{border-color:#28262c}.border-y{border-color:#f7b733}.border-o{border:#fc4a1a 2px solid}.border-w{border-color:#f9f5ff}.border-lw{border-color:#dfdce3}.border-b{border:solid 2px #4abdac}.hv-d:hover{color:#28262c}.hv-y:hover{color:#f7b733}.hv-o:hover{color:#fc4a1a}.hv-w:hover{color:#f9f5ff}.hv-b:hover{color:#4abdac}.hv.lw:hover{color:#dfdce3}.bg-grad-o{background-image:linear-gradient(to bottom,#fc4a1a,#fd5528,#fe5f34,#ff6840,#ff714b)}.bg-grad-b{background-image:linear-gradient(to bottom,#4abdac,#42c5b1,#37ccb5,#29d4ba,#12dcbe)}.text-time-r{float:right;color:#aaa}.text-time-l{float:left;color:#aaa}
          </style>
        </head>
        <body class="bg-l">
          <div id="message">
            <div class="box bg-white text-center">
                <div class=" h1 text-b"><i class="fas fa-compass text-l"></i> Funee</div>
                <p style="color: #aaa;" class="ml-3">Privacy can be Fun</p>
                <div class="h4 mt-5 text-o">L o g i n</div>             
                <form class="mt-4" method="POST" action="/login">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text text-o"><i class="fas fa-user"></i></div>
                        </div>
                        <input type="email" name="username" id="username" placeholder="Email" class="form-control" required>
                    </div>
                    <div class="input-group mt-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text text-o"><i class="fas fa-key"></i></div>
                        </div>
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn bg-b text-w hv-l">Login</button>
                    </div>
                    <% if(msg) { %>
                      <div class="text-center mt-2 text-danger">
                        <p>Invalid Email or Password</p>
                      </div>
                      <% } %>
                    <div class="mt-3 text-center">
                        <a href="/forgotPassword" >Forgot Password ?</a><br>
                        <p></p>
                        Don't have an account ? <a href="/signup" >Sign Up</a><br>
                    </div>
                </form>
                <hr>
            </div>
          </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>