<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container">
    <div class="content-box px-3 py-4">
        <div class="row">
            <div class="col-12 text-center h3 text-o">
                My Responses
            </div>
        </div>
        <!-- ROW 2 -->
        <div class="row">
            <div class="col-12 px-2 py-3 mt-3 border rounded bg-b">
                <h5 class="text-w text-center">What do you think about me ?</h5>
                <div class="row responses mt-4">
                    <div class="col-12">
                        <div class="card px-3 py-3">    
                            <p class="strong">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rerum amet, voluptatibus, at consequuntur iure libero minus, ab nemo tempore quasi itaque ipsum impedit aut. Libero distinctio totam aperiam ipsa?</p>
                            <p class="text-left time-text">8.33 pm</p>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="card px-3 py-3">    
                            <p class="strong">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rerum amet, voluptatibus, at consequuntur iure libero minus, ab nemo tempore quasi itaque ipsum impedit aut. Libero distinctio totam aperiam ipsa?</p>
                            <p class="text-left time-text">8.33 pm</p>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="card px-3 py-3">    
                            <p class="strong">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rerum amet, voluptatibus, at consequuntur iure libero minus, ab nemo tempore quasi itaque ipsum impedit aut. Libero distinctio totam aperiam ipsa?</p>
                            <p class="text-left time-text">8.33 pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ROW 2 / -->
    </div>
</div>
<%- include("partials/footer") %>
